*~
ipch
cmake_install.cmake
Makefile
KoRE.cbp
CMakeLists.txt.user
CMakeFiles
CMakeCache.txt
*/KoRE_Log.txt
KoRE_Log.txt
*.exe
*.pdb
*.ilk
*.user
*.suo
*.sdf
*.opensdf
*.obj
Debug/*
Kore.dir/*
Win32/*
*/obj/*
demos/MainGLFW/MainGLFW.dir/*
KoRE.lib
lib
bin
ext
*.sln
*.vcxproj
*.filters