*~
ipch
cmake_install.cmake
Makefile
KoRE.cbp
CMakeLists.txt.user
CMakeFiles
CMakeCache.txt
bin/KoRE_Log.txt
*.exe
*.pdb
*.ilk
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.sdf
*.opensdf
*.obj
Debug/*
Kore.dir/*
Win32/*
*/obj/*
demos/MainGLFW/MainGLFW.dir/*
core_d.lib
KoRE.lib